[Desktop Entry]
Name=Peercoin
Comment=Desktop wallet for Peercoin Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung Peercoin
Exec=peercoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/peercoin128.png
MimeType=x-scheme-handler/peercoin;
Categories=Application;Network;
StartupWMClass=Peercoin-qt
